<h1 mat-dialog-title>Order Details</h1>

<div mat-dialog-content>
    <p>Customer Name: {{data.tableRow?.customer?.firstName}} {{data.tableRow?.customer?.lastName}}</p>
    <p>Customer Email: {{data.tableRow?.customer?.email}}</p>
    <p>Customer Phone: {{data.tableRow?.customer?.phone}}</p>
    <p>Order Date: {{data.tableRow?.dateCreated?.toDate() | date : 'shortDate'}}</p>
    <p>Total Price: {{data.tableRow?.totalPrice | currency}}</p>
    <p>Date Paid: {{data.tableRow?.datePaid?.toDate() | date : 'shortDate'}}</p>
    <p>Date Completed: {{data.tableRow?.dateCompleted?.toDate() | date : 'shortDate'}}</p>
</div>
