<div class="verticalWrapper">
  <div style="display: flex; justify-content: space-around; margin: 10px 0; width: 100%;">
    <button mat-raised-button color="primary" [routerLink]="'/orders/new'">
      <mat-icon>add</mat-icon> New Order
    </button>
    <button mat-raised-button color="accent" (click)="generateInvoices()" [disabled]="selection.selected.length === 0">
      Generate Invoices
    </button>
  </div>

  <mat-form-field style="margin-top: 20px;">
    <mat-label>Search</mat-label>
    <input matInput type="text" [formControl]="searchInput" placeholder="Search">
  </mat-form-field>

  <div *ngIf="loadingService.isLoading()" class="loadingContainer">
    <mat-spinner></mat-spinner>
  </div>

  <table *ngIf="(tableRows | async).length > 0" mat-table [dataSource]="tableDatasource"
          class="mat-elevation-z8" style="margin-bottom: 10px;">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox color="primary"
                      (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox color="primary"
                      (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element?.customer?.firstName}} {{element?.customer?.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{element?.dateCreated?.toDate() | date : 'shortDate'}}</td>
    </ng-container>

    <ng-container matColumnDef="hasInvoice">
      <th mat-header-cell *matHeaderCellDef>Invoice Created</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon color="{{element?.hasInvoice ? 'primary' : 'warn'}}">
          {{element?.hasInvoice ? 'check' : 'close'}}
        </mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">{{element?.totalPrice | currency}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;" [routerLink]="['/orders', row.id]"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons
                 aria-label="Select page">
  </mat-paginator>
  <p *ngIf="(tableRows | async)?.length === 0">No Orders</p>
</div>
