<h1 mat-dialog-title>Fill Item</h1>

<div mat-dialog-content class="verticalWrapper">
  <form [formGroup]="itemForm">
    <mat-form-field appearance="outline" style="margin-top: 10px;">
      <mat-label>Item Type</mat-label>
      <mat-select formControlName="item">
        <mat-option *ngFor="let type of (itemTypes | async)" [value]="type">
          {{type.name | titlecase}} - {{ type.pricePerUnit | currency}}/unit
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Color</mat-label>
      <mat-select formControlName="color">
        <mat-option *ngFor="let color of colors" [value]="color">
          {{color | titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of itemCategories" [value]="category">
          {{category | titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" placeholder="Description"></textarea>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions style="display: flex; justify-content: space-around;">
    <button mat-raised-button color="primary" [disabled]="!itemForm.valid"
            (click)="dialogRef.close(itemForm.value)">
        Save
    </button>
    <button mat-raised-button color="accent" (click)="dialogRef.close()">Cancel</button>
</div>
