<h1 mat-dialog-title>{{ data.type }} Item</h1>

<form mat-dialog-content [formGroup]="itemForm" style="padding-top: 20px;">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name" placeholder="Name" required>
        <mat-error *ngIf="!itemForm.controls.name.valid">Required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Price Per Unit</mat-label>
        <input type="number" min="0" matInput formControlName="pricePerUnit" placeholder="Price Per Unit ($)" required>
    </mat-form-field>
</form>

<div mat-dialog-actions style="display: flex; justify-content: space-around;">
    <button mat-raised-button color="primary" [disabled]="!itemForm.valid" (click)="save()">
        Save
    </button>
    <button mat-raised-button color="accent" (click)="dialogRef.close('cancelled')">Cancel</button>
    <button *ngIf="data.type === 'Edit'" mat-raised-button color="warn" (click)="delete()">Delete</button>
</div>
