html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.verticalWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

.mat-divider {
    margin: 20px !important;
}

mat-form-field {
    width: 100%;
}

mat-error {
    font-size: 12px;
}

.btnCenter {
    display: block;
    margin: auto;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1000px) {
  .verticalWrapper {
    max-width: 50%;
    margin: auto;
  }
}
