html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.verticalWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.mat-divider {
    margin: 20px !important;
}
